* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topo {
    background: blueviolet;
    color: #ffffff;
}
.menu {
    background-color: #cccbcb;
}
.conteudo {
    width: 100%;
    background: #8a6b6b;
    padding: 20px;
}