* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto 30px;
    grid-template-areas:
        "topo topo"
        "menu conteudo"
        "menu rodape";
    height: 100vh;
}
.header {
    grid-area: topo;
    background-color: teal;
    font-family: 'MyriadPro-Regular',sans-serif,"Trebuchet MS",Arial,Geneva,Helvetica;
    padding-top: 3px;
    padding-left: 3px;

}
.menu {
    grid-area: menu;
    background-color: #575454;
    overflow: hidden;
}
.conteudo {
    grid-area: conteudo;
    padding: 5px;
}
.rodape {
    grid-area: rodape;
    background-color: #6d6d6d;
}
