* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto 30px;
    grid-template-areas:
        "topo topo"
        "menu conteudo"
        "menu rodape";
    height: 100vh;
}
.header {
    grid-area: topo;
    background-color: teal;
}
.menu {
    grid-area: menu;
    background-color: #8f8b8b;
    overflow: hidden;
}
.conteudo {
    grid-area: conteudo;
    border: 1px solid black;
    padding: 5px;
}
.rodape {
    grid-area: rodape;
    border: 1px solid black;
    background-color: #adadad;
}
